<h2>Appréciation générale</h2>
<p>Niveau d’accessibilité global pour les critères testés : <strong><%= info.score %></strong>.</p>
<p>(Échelle : très faible, faible, moyen, bon, très bon)</p>

<h2>Avertissement</h2>
<p>Attention, l’audit effectué est un audit simplifié et non un audit de conformité (ou audit "complet"). Il a vocation à détecter une série de problèmes d’accessibilité mais n'est pas exhaustif. Le fait qu’aucun problème ne soit remonté pour un critère RGAA donné ne signifie pas qu’il n’y a pas de problème d’accessibilité pour ce critère. De même, lorsque nous rapportons une occurrence d’un problème, ce problème peut avoir d’autres occurrences. N’hésitez pas à vérifier de manière exhaustive l’accessibilité de votre site conformément au référentiel <a href="https://accessibilite.public.lu/fr/rgaa4.1/index.html">RGAA</a>.</p>

<h2>Échantillon de pages et référentiel</h2>
<p>Voici les pages qui ont été évaluées lors de cet audit :</p>
<ul>
    <% info.pages.forEach(p => { %>
        <li>Page P0<%=p.id %> : <a href="<%= p.value %>"><%= p.label %></a></li>
    <% }) %>
</ul>
<p>Méthode d'évaluation : <a href="https://accessibilite.public.lu/fr/monitoring/controle-simplifie.html">Méthode de contrôle simplifiée de l’accessibilité pour le Luxembourg – v1.2</a></p>
<p>Référentiel : <a href="https://accessibilite.public.lu/fr/rgaa4.1/index.html">RGAA v4.1</a></p>





 


